<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Oal</h1>

    <img src="/static/images/gatolentes.jpg" alt="gato" />

    <h2>Links importantes</h2>
    <ul>
      <li><a href="/api/users">Usuarios</a></li>
      <li><a href="/api/games">Juegos</a></li>
      <li><a href="/api/token">Tokens</a></li>
      <li><a href="api/users/whoami">WhoamI</a></li>
    </ul>
  </body>
</html>
